.profileMainBlock {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    'profSt profSt'
    'avatar proDat';
}

.profileAvatarBlock {
    grid-area: avatar;
    width: 100%;
}

.profileAvatar {
    width: 80%;
    border-radius: 50%;
}

.profileDataBlock {
    grid-area: proDat;
}

.profileStatusBlock {
    width: 100%;
    grid-area: profSt;
    margin-bottom: 30px;
}

.profileDataItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    /*grid-template-areas:*/
    /*'avatar proDat'*/
}

.profileDataItem_value input {
    box-sizing: border-box;

    width: 100%;
}

.contactsBlock  .profileDataItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*grid-template-rows: auto;*/
    grid-template-areas:
    'datTyp datVal';
}

.contactsBlock .profileDataItem_type {
    grid-area: datTyp;
    justify-self: end;
    margin-right: 20px;
    align-self: end;
    font-style: italic;
}
.contactsBlock  .profileDataItem_value  {
    grid-area: datVal;
    /*margin-left: 20px;*/
    /*align-self: end;*/
}






/*.fullNameBlock {*/
/*    grid-area: fulNam;*/
/*    font-weight: 700;*/
/*}*/

/*.aboutMeBlock {*/
/*    grid-area: aboutM;*/
/*    font-size: small;*/
/*}*/

/*.lookingForAJobBlock {*/
/*    grid-area: lookJb;*/
/*}*/

/*.lookingForAJobDescriptionBlock {*/
/*    grid-area: jobDes;*/
/*    !*font-weight: bold;*!*/
/*}*/


