.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialogsItems {
    /* padding: 10px; */
}


.messagesItems {
  /* padding: 10px; */
}

.message {
}


.newMessage {
  grid-column: span 2;
}

.textareaBlock {
  box-sizing: border-box;
  width: 100%;
}

.buttonBlock {
  margin-bottom: 10px;
}

.submitError {
  border: 2px red solid;
}
