.myPosts {
  font-weight: 500;
}

.posts {
  padding: 10px;
  border-radius: 10px;
  background-color:#6fc3ff;
  display: grid;
  grid-gap: 10px;
  /*grid-template-rows: auto;*/
}

.post {
  margin: 10px;
}

