.post {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;

  grid-template-areas: 
    'avatar  postText'
    'likesCounter  postText';
  align-items: start;

  border-radius: 5px;
  padding: 10px;
  /* border: 1px solid black; */
  background-color: ivory;
  
  /*margin: 10px;*/
  color: black;
}

.post .avatar{
  /*grid-area: a;*/
  height: 50px;
  border-radius: 30px;
}

.post .postText{
  grid-area: postText;
}

.post .likesCounter {
  /*grid-area: l;*/
  /*justify-content: start;*/
}