.user {
    border: 1px solid grey;
    background-color: lightcyan;
    margin: 10px;
    padding: 5px;
    display: grid;
    /*height: 10vh;*/
    grid-template-columns: 20% 5fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
            'name NONE city '
            'foll stat coun';
}

.name {
    grid-area: name;
    align-self: center;
    text-align: center;
}

.status {
    grid-area: stat;
}

.followed {
    grid-area: foll;
    text-align: center;

}

.country {
    grid-area: coun;
}

.city {
    grid-area: city;
}

.avatar {
    width: 100%;
}

.followButton {

}